<html xmlns:th="https://www.thymeleaf.org">
<body>

<div th:if="${message}">
  <h2 th:text="${message}"/>
</div>

<div>
  <h3> FILE UPLOAD</h3>
  <form method="POST" enctype="multipart/form-data" action="/">
    <table>
      <tr>
        <td>File to upload:</td>
        <td><input type="file" required name="file"/></td>
      </tr>
      <tr>
        <td>Title:</td>
        <td><input type="text" required name="title"/></td>
      </tr>
      <tr>
        <td>Tags:</td>
        <td><input type="text" name="tags"/></td>
      </tr>
      <tr>
        <td></td>
        <td><input type="submit" value="Upload"/></td>
      </tr>
    </table>
  </form>
</div>

<div>
  <h3> FILE UPDATE</h3>
  <form method="POST" action="/fileupdate">
    <table>
      <tr>
        <td>File id:</td>
        <td><input type="text" required name="fileId"/></td>
      </tr>
      <tr>
        <td>Title:</td>
        <td><input type="text" required name="title"/></td>
      </tr>
      <tr>
        <td>Tags:</td>
        <td><input type="text" name="tags"/></td>
      </tr>
      <tr>
        <td></td>
        <td><input type="submit" value="Upload"/></td>
      </tr>
    </table>
  </form>
</div>

<div>
  <h3> FILE DELETE</h3>
  <form method="POST" action="/filedelete">
    <table>
      <tr>
        <td>File id:</td>
        <td><input type="text" required name="fileId"/></td>
      </tr>
      <tr>
        <td></td>
        <td><input type="submit" value="Upload"/></td>
      </tr>
    </table>
  </form>
</div>

<div>
  <h2>FILES FROM SERVER</h2>
  <ul>
    <li th:each="file : ${files}">
      Title = <span th:text="${file.title}"/>;
      File_id = <a th:href="${file.url}" th:text="${file.fileId}"/>
    </li>
  </ul>
</div>

</body>
</html>